// :root {
//   --title-text-color: #212121;
//   --primary-text-color: #757575;
//   --active-bgr-color: #2196f3;
//   --button-title-color: #ffffff;
//   --adress-text-color: rgba(255, 255, 255, 0.6);
//   --background-gray-color: #f5f4fa;
//   --background-footer-color: #2f303a;
//   --primary-bg-color: #e5e5e5;
//   --secondary-bg-color: rgba(47, 48, 58, 0.8);
// }

$black-text: #212121;
$gray-text: #757575;
$active-blue: #2196f3;
$white-text: #ffffff;
$transparent-color: rgba(255, 255, 255, 0.6);
$footer-color: #2f303a;
$second-bk-color: #f5f4fa;
$gray-bk-color: rgba(47, 48, 58, 0.8);
