html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: $white-text;
  color: $gray-text;

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.link {
  text-decoration: none;
}
